.hero {
    background-color: $bg-dark;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/index/hero/bg-mob480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1600px;
    min-height: 600px;

    text-align: center;

    margin: 0 auto;
    padding: 200px 0;

    @media screen and (min-devise-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/index/hero/bg-mob860.jpg");
    }

    @media screen and (min-devise-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/index/hero/bg-mob1440.jpg");
    }

    @media screen and (min-width: 480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/index/hero/bg-tabl768.jpg");

        @media screen and (min-devise-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/index/hero/bg-tabl1536.jpg");
        }

        @media screen and (min-devise-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/index/hero/bg-tabl2304.jpg");
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/index/hero/bg-hero1600.jpg");

        @media screen and (min-devise-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/index/hero/bg-hero3200.jpg");
        }

        @media screen and (min-devise-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/index/hero/bg-hero4800.jpg");
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: decimal-round(42 / 26);

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-color;

    margin-bottom: 30px;
    font-weight: 900;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: decimal-round(60 / 44);
    }
}

.hero__button {
    @extend %button;
    @include indent(10px 24px);
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        @include indent(10px 32px);
    }
}
