.burger-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 40px;
    margin-bottom: 48px;

    @media screen and (min-width: 478px) {
        // justify-content: flex-start;
        margin-left: 40px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.burger-social__item {
    position: relative;
    &:not(:first-child) {
        margin-left: 20px;
    }

    // @media screen and (max-width: 330px) {
    //     &:not(:nth-last-child(-n + 2))::after {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         right: -10px;
    //         display: block;
    //         height: 100%;
    //         width: 1px;
    //         background-color: $modal-border-color;
    //     }
    // }

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        display: block;
        height: 100%;
        width: 1px;
        background-color: $modal-border-color;
    }
}
.burger-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: decimal-round(22 / 18);

    letter-spacing: 0.02em;
    text-decoration: none;

    color: $active-color;
}
